<section class="sign_up">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 sign-up">
                <div
                    style="width:100%; display: flex; flex-direction: column; justify-content: space-between; align-items: center; margin-bottom: 25px;">

                    <span class="mi-logo">
                        <span>G</span>
                        <span class="aside">
                            <div class="a">A</div>
                            <div>G</div>
                        </span>
                    </span>

                    <span class="contact_us">
                        Contactanos!
                    </span>

                </div>

                <form name="signup-form">
                    <input class="signup-input" type="email" name="email_address" value=""
                        placeholder="introduce tu correo" required>
                    <button type="submit" class="submit-btn">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</section>