section.sign_up {
    padding: 40px 0 110px 0;
}

.sign-up {
    text-align: center;
}


.signup-input {
    border: solid 1px #d3d7d9;
    padding: 25px;
    width: 65%;
    color: #929292;
    font-style: italic;
    letter-spacing: 1px;
}

.submit-btn {
    background-color: #FBCD08;
    color: #000;
    border: solid 1px #FBCD08;
    font-weight: 300;
    padding: 25px 50px;
}


.mi-logo {
    -webkit-user-select: none;
    user-select: none;
    border: 2px solid #FBCD08;
    height: 110px !important;
    width: 120px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: auto;
    color: #454545 !important;
    font-size: 90px;
    margin: auto;

    .aside {
        text-align: center;
        margin-left: 5px;
        font-size: 30px;
        margin: auto;

        .a {
            border-bottom: 2px solid #454545;
        }
    }

}

.contact_us {
    margin-top: 15px;
    color: #848789;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 300;
}