<div class="container-fluid intro">
    <div class="row m-0">
        <div class="col-md-8 offset-md-2">
            <h1 style="text-align: center;">
                <i class="fas fa-drafting-compass"></i>
            </h1>
            <h1 class="chain">
                El mejor diseño para tu vida
            </h1>
            <p class="text-intro">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
    </div>
</div>