p.text-intro {
    font-size: 18px;
}

.intro {
    padding: 100px 0px;
    background-color: #fbfbfb;
}

h1.chain {
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 75px;
}