<nav class="navbar navbar-expand-lg">

    <!-- Links left -->
    <div class="navbar-collapse collapse w-100 multi-collapse order-1 order-md-0" id="multiCollapseExample1">
        <ul class="navbar-nav ms-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="#nosotros">Nostros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#proyectos">Proyectos</a>
            </li>
        </ul>
    </div>

    <!-- Logo -->
    <div class="mx-3 my-auto order-0 order-md-1 position-relative" style="width: 150px !important;">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <a class="navbar-brand" href="#inicio">
                <span class="mi-logo">
                    <span>G</span>
                    <span class="aside">
                        <div class="a">A</div>
                        <div>G</div>
                    </span>
                </span>
            </a>

            <button class="navbar-toggler" class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target=".multi-collapse" aria-expanded="false"
                aria-controls="multiCollapseExample1 multiCollapseExample2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <!-- Links right -->
    <div class="navbar-collapse collapse w-100 multi-collapse order-2 order-md-2" id="multiCollapseExample2">
        <ul class="navbar-nav me-auto text-center">
            <li class="nav-item">
                <a class="nav-link" href="#clientes">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contacto">Contacto</a>
            </li>
        </ul>
    </div>
</nav>

<main class="main">
    <ng-content></ng-content>
</main>