body {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.navbar {
    height: 100px;

    .nav-item,
    .nav-link {
        font-size: 16px;
        letter-spacing: 2px;
    }


    .navbar-collapse {
        background-color: var(--bg-color);
    }
}

.main {
    background-color: var(--bg-color);
    flex: 1;
    height: calc(100vh - 75px);
}


.mi-logo {
    -webkit-user-select: none;
    user-select: none;
    border: 2px solid #FBCD08;
    height: 75px !important;
    width: 80px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: auto;
    color: #454545 !important;
    font-size: 60px;
    margin: auto;

    .aside {
        text-align: center;
        margin-left: 3px;
        font-size: 18px;
        margin: auto;

        .a {
            border-bottom: 2px solid #454545;
        }
    }

}