.hero {
    background: url(../../../assets/background.jpg) no-repeat top center #f4f5fc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 685px;
}