<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 section-1 nopadding" id="work">
            <div class="logo-1 wp1"></div>
        </div>
        <div class="col-md-4 section-text nopadding">
            <div class="wp4">
                <h2 class="frame"> Trabajo Industrial </h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived.</p>
                <div class="thin-sep"></div>
            </div>
            <div class="small-featured-img seat-red">
                <div class="arrow"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 section-text nopadding">
            <div class="wp5">
                <h2 class="mech"> Pequeños Negocios </h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived.</p>
                <div class="thin-sep"></div>
            </div>
            <div class="small-featured-img seat-black">
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-md-8 section-2 nopadding">
            <div class="logo-2 wp2"></div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 section-3">
            <div class="logo-3 wp3"></div>
        </div>
        <div class="col-md-4 section-text nopadding">
            <div class="wp6">
                <h2 class="front-frame"> Hogar </h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. It has survived.</p>
                <div class="thin-sep"></div>
            </div>
            <div class="small-featured-img frame-red">
                <div class="arrow"></div>
            </div>
        </div>
        <div class="col-md-4 section-4"></div>
    </div>
</div>