.section-1 {
    background: url(../../../assets/image_1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    position: relative;
}

.seat-red {
    background: url(../../../assets/image_2.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.section-2 {
    background: url(../../../assets/image_12.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    position: relative;
}

.seat-black {
    background: url(../../../assets/image_7.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.section-3 {
    background: url(../../../assets/image_9.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    position: relative;
}

.section-4 {
    background: url(../../../assets/image_14.webp) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
}

.frame-red {
    background: url(../../../assets/image_6.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.section-text {
    position: relative;
    height: 600px;
}

.section-text p {
    padding: 0 60px;
    text-align: justify;
}

.small-featured-img {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
}


h2.frame {
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 65px;
    margin-top: 70px;
}

h2.frame::before {
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-size: 32px;
    font-weight: 900;
    content: "\f275";
    color: #FBCD08;
}

h2.mech {
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 65px;
    margin-top: 70px;
}

h2.mech::before {
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-size: 32px;
    font-weight: 900;
    content: "\f54e";
    color: #FBCD08;
}

h2.front-frame {
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 65px;
    margin-top: 70px;
}

h2.front-frame::before {
    text-align: center;
    font-family: "Font Awesome 5 Free";
    font-size: 32px;
    font-weight: 900;
    content: "\f015";
    color: #FBCD08;
}