<section class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">

            <div class="row row-cols-1 row-cols-md-3 g-4">

                <div class="col">
                    <div class="card">
                        <img src="/assets/image_10.webp" class="card-img-top" alt="..." width="300" height="200">
                        <div class="card-body">
                            <h5 class="card-title">"Trabajos que generan confianza"</h5>
                            <p class="card-text">Oficinas reclutadoras.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Instalacion de oficinas </small>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/assets/image_11.jpg" class="card-img-top" alt="..." width="300" height="200">
                        <div class="card-body">
                            <h5 class="card-title">"Nos hace sentir muy seguros la calidad de su trabajo"</h5>
                            <p class="card-text">Colegio de Estudios para profesionistas.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Instalacion de ventanas templadas</small>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="/assets/image_15.jpg" class="card-img-top" alt="..." width="300" height="200">
                        <div class="card-body">
                            <h5 class="card-title">"Profesionalismo en el trato con el cliente"</h5>
                            <p class="card-text">Colonia Nuevo amanecer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Trabajo de canceleria</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>