footer {
    background-color: #f7f7f7;
    padding: 100px 0;
}

footer p {
    font-size: 13px;
    margin: 0;
}

.footer-leftcol p {
    text-align: left;
}

.footer-rightcol p {
    text-align: right;
    font-style: italic;
    margin-top: 20px;
}

.bold-16p {
    font-size: 15px;
    font-weight: 600;
}

.footer-midcol {
    margin-left: auto;
    margin-right: auto;
}

.footer-midcol ul {
    text-align: center;
    padding: 0;
}

.footer-midcol li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

.footer-midcol li a {
    opacity: 1;
}

.footer-midcol li a:hover {
    opacity: 0.5;
}

.twitter-icon {
    background: url(../../../assets/twitter-icon.png);
    height: 34px;
    width: 35px;
    display: block;
    text-indent: -9999px;
}

.facebook-icon {
    background: url(../../../assets/facebook-icon.png);
    height: 34px;
    width: 35px;
    display: block;
    text-indent: -9999px;
}

.pintrest-icon {
    background: url(../../../assets/pintrest-icon.png);
    height: 34px;
    width: 35px;
    display: block;
    text-indent: -9999px;
}

.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6 {
    visibility: hidden;
}

.bounceInLeft,
.bounceInRight,
.fadeInUp {
    visibility: visible;
}