<app-navbar>

    <div id="#inicio">
        <app-home></app-home>
    </div>

    <!-- Sobre Nosotros -->
    <div id="nosotros">
        <app-about></app-about>
    </div>

    <!-- Trabajos -->
    <div id="proyectos">
        <app-projects></app-projects>
    </div>

    <!-- Reseñas -->
    <div id="clientes">
        <app-review></app-review>
    </div>

    <!-- Contacto -->
    <div id="contacto">
        <app-contact></app-contact>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-leftcol">
                    <p><span class="bold-16p">León, Guanajuato México</span><br>
                        Calle San Lazaro #118-A<br>
                        Santa Rosa de Lima, C.P. 37210 - <a href="#">info@domain.com</a>
                    </p>
                </div>
                <div class="col-md-4 footer-midcol">
                    <ul>
                        <li><a href="#" class="twitter-icon">Twitter</a></li>
                        <li><a href="#" class="facebook-icon">Facebook</a></li>
                        <li><a href="#" class="pintrest-icon">Pintrest</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-4 footer-rightcol">
                    <p>Diseñado por <a href="#">rhaydookie</a></p>
                </div>
            </div>
        </div>
    </footer>

</app-navbar>