@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

body {
    --bg-color: #f4f5fc;
    --primary-color: #2196F3;
    --secondary-color: #52ab98;
    --text-color: #fdfdfd;
    --title-color: #0a4870;
    font-family: 'Poppins', sans-serif;

    background-color: var(--bg-color);
}

p {
    text-align: center;
    font-size: 14px;
    color: #848789;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 1.8em;
    margin-top: 25px;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

p,
pre {
    margin: 1em 0;
}


.fas {
    color: #FBCD08;
    margin-left: 5px;
    margin-right: 5px;
}